body {
    background-image: url("../images/titan.jpg");
    background-color: black;
    font-size: 18px;
    background-origin: border-box;
    background-repeat: no-repeat;
}

h1,
section{
    color: black;
    background-color: lightgreen;
    border: 5px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
}

h1 {
    width: 28%;
    text-align: center;
}

section {
    width: 90%;
}

section#results-box {
    display: none;
    width: min-content;
}

section.data-entry-boxes {
    width: 40%;
}

div.go-button {
    text-align: right;
}

input:hover {
    font-weight: bold;
}

